@font-face{
    font-family: bigFont;
    src:url('../fonts/Oxygen-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: regularFont;
    src:url('../fonts/Oxygen-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: lightFont;
    src:url('../fonts/Oxygen-Light.ttf');
    font-style: normal;
    font-weight: 200;
}

:root{
    --black:#0F0A0A;
    --lightblue:#42E2B8;
}

html{
    font-size:62.5%;
}

body{
    margin: 0;
    background: linear-gradient(135deg, #FAD7A1 0%, #E96D71 98%); 
}


h1{
    font-family: bigFont;
    font-size: 9.5rem;
    line-height: 153.71px;
    letter-spacing: -1.5%;
}

h2{
    font-family: bigFont;
    font-size: 5.9rem;
    line-height: 95.46px;
    letter-spacing: -0.5%;

}


h3{
    font-family:  bigFont;
    font-size: 4.8rem;
    line-height: 77.66px;
}


h4{
    font-family: bigFont ;
    font-size: 3.4rem;
    line-height: 55.01px;
}

h5{
    font-size: 2.4rem;
    line-height: 3.9rem;
    letter-spacing: 0rem;
   
}
h1,h2,h3,h4,h5{
    margin: 0;
}
p{
    font-family: regularFont;
    font-size: 1.6rem;
    line-height: 25.89px;
    letter-spacing: 0.5px;
}

.wrapper{
    max-width: 1110px; 
    margin: auto; 
}

/* HEADER */
.header{
    padding: 0 1.6rem ;
    height: 8.1rem;
}
.header__content{
    margin: 1.6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    line-height: 38.83px;
    font-weight: 900;
    color: var(--black);
    
    
}
.curriculum{
    display: inline-block;
    font-family: regularFont;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 22.65px;
    color: var(--black);
    background-color: var(--lightblue);
    padding: 1.1rem 2.2rem;
    border-radius: 90px;
    border:2px solid var(--black);
    box-shadow: -4px 4px  14px rgba(0,0,0,0.25);
    text-decoration: none;
    letter-spacing: 1.25px;
}

.hero{
    padding: 0 1.6rem;
}

.hero__content{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    font-size: 0;
}

.hero__image{
    display: block;
    max-width: 100%;
    padding: 1.6rem 0;
}

.hero__info{
    margin: 1.6rem 0;
}

.hero__info a{
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--black);
    font-family: regularFont;
    margin: 1.6rem 0;
    position: relative;
   
}

.hero__info__icon{
    vertical-align: middle;
    margin-right: 1.6rem;
}

/* ABOUT */

.about{
    padding: 0 1.6rem;
    margin: 1.5rem 0;
}

.about__content{
    text-align: center;
}

.about__content > p{
    font-size: 2.4rem;
    line-height: 3.8rem;
}

.about__content p:first-of-type + p{
    font-weight: 700;
   
}

.about__content img{
    display: inline-block;
    text-align: center;
    height: 80px;
    width:80px;
}

/* proyect-list*/

.proyect-list{
    padding: 0 1.6rem;
    margin: 4.0rem 0    ;
}

.proyect-list__content{
   
    
}

.proyect{
    display: flex;
   flex-direction: column;
   /* margin-bottom: 8.0rem; */
}

.proyect__description{
    order: 1;
}

.proyect__title, .contacts__info-title{
    font-family:bigFont;
    color: var(--lightblue);
    background-color: var(--black);
    display: inline-block;
    padding:4px 8px ;
    box-shadow: -4px 4px 0px #fff;
}

.proyect__copy{     
    margin-top: 1.6rem;
 
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.005px;
text-align: left;

}

.button-github, 
.button-proyect{
    border: 2px solid var(--black);
    display: block;
    margin-bottom: 1.6rem;
    text-align: center;
    border-radius: 90px ;
    height: 46px;
    line-height: 46px;
    text-decoration: none;
    letter-spacing: 1.25px;
    font-family: bigFont;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--black);
}

.button-github img{
    vertical-align: middle;
    margin-right: .8rem;
}

.button-proyect{
    background-color: var(--lightblue);
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
}

.proyect__image{
    order:0;
    margin: 4.0rem 0;
}


/* testimony */

.testimony{
    border:3.98px solid rgba(255,255,255,.4);   
    padding: 2.0rem;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.2);
    margin: 4.0rem 0;
}

.testimony__image{
    text-align: center;

}

.testimony-copy{
    font-weight: bold;
    line-height: 25.89px;
    font-size: 1.6rem; 

}

.testimony-title{
    font-weight: 19.42px;
    letter-spacing: .4px;
    font-size: 1.2rem;
    opacity: 0.5;
}

/* CONTACT */

.contacts{
    padding: 0 1.6rem;
    margin: 4.0rem 0    ;
}



.contacts__form{
    font-family: regularFont;
    margin-top: 1.6rem;
    margin-bottom: 8.0rem;
}

.contacts__form label{
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 8px;
    font-weight: bold;
    margin-left: 1.6rem;
    letter-spacing: .5px;
}

.contacts__form label span{
   color: #DA1414;
   font-weight: 400;
}

.contacts__form input{
    width: 100%;
    box-sizing: border-box;
    border:none;
    padding: 1.6rem 1.2rem;
    border-radius: 8px;
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    border: 1px solid rgb(133,140,148,1);
}

.contacts__form textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 1.6rem 1.2rem;
    border-radius: 8px;
    margin-bottom: 1.6rem;
    border: 1px solid rgb(133,140,148,1);
}
.contacts__form input[type="button"]{
    width: 100%;
    border: 0;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1.25px;
    border-radius: 90px;
    border: 2px solid var(--black);
    background-color: var(--lightblue);
    box-shadow: -4px 4px 14px 0px rgba(0, 0, 0, 0.25);

}